/pgdata/pg_subtrans/
/lab1/pgdata/pg_xact/
/lab1/pgdata/pg_snapshots/
/lab1/pgdata/PG_VERSION
/lab1/pgdata/pg_ident.conf
/lab1/pgdata/pg_wal/
/lab1/pgdata/pg_twophase/
/lab1/pgdata/pg_serial/
/lab1/pgdata/pg_logical/replorigin_checkpoint
/lab1/pgdata/pg_logical/mappings/
/lab1/pgdata/pg_stat/
/lab1/pgdata/pg_tblspc/
/lab1/pgdata/pg_multixact/
/lab1/pgdata/postgresql.auto.conf
/lab1/pgdata/base/
/lab1/pgdata/pg_notify/
/lab1/pgdata/pg_logical/snapshots/
/lab1/pgdata/pg_hba.conf
/lab1/pgdata/global/
/lab1/pgdata/postgresql.conf
/lab1/pgdata/pg_dynshmem/
/lab1/pgdata/pg_commit_ts/
/lab1/pgdata/pg_logical/
/lab1/pgdata/pg_replslot/
/lab1/pgdata/pg_stat_tmp/
/lab1/pgdata/postmaster.pid
/lab1/pgdata/postmaster.opts
/pgdata/
